<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Update Product</title>

    <th:block th:replace=fragments/style></th:block>
</head>

<body class="container">
<div class="content">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 mt-3 text-gray-800">Update Product</h1>
    </div>

    <!--funny how this actually works-->
    <form action="/" method="GET" autocomplete="off" id="backToListing">
        <div>
            <button type="submit" class="btn btn-primary mb-3">Back to Listing</button>
        </div>
    </form>

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h5 class="h5 mb-0 mt-3 text-gray-800">Input *null* for null value</h5>
    </div>

    <form th:action="'/update/' + ${product.id}" method="POST" id="updateProduct">
        <div class="form-group">
            <input type="text" id="code" th:value="${product.code}" class="form-control" name="code" placeholder="Code*" required>
        </div>
        <div class="form-group">
            <input type="text" id="name" th:value="${product.name}" class="form-control" name="name" placeholder="Name*" required>
        </div>
        <div class="form-group">
            <input type="text" id="category" th:value="${product.category}" class="form-control" name="category" placeholder="Category*" required>
        </div>
        <div class="form-group">
            <input type="text" id="brand" th:value="${product.brand}" class="form-control" name="brand" placeholder="Brand" required>
        </div>
        <div class="form-group">
            <input type="text" id="type" th:value="${product.type}" class="form-control" name="type" placeholder="Type" required>
        </div>
        <div class="form-group">
            <textarea class="form-control" th:utext="${product.description}" id="description" placeholder="Description" name="description" rows="3"
                      required></textarea>
        </div>
        <button type="submit" class="btn btn-primary" onclick="alertValidation()">Update</button>
    </form>

</div>
</body>
<th:block th:replace=fragments/script></th:block>

<script th:inline="javascript">
var form = document.getElementById('updateProduct');

function alertValidation() {
  if (form.checkValidity()) {
    alert("Successful!");
  } else {
    // todo: proper err
  }
}
</script>
</html>